<div class="row">
	<h3>Estudios</h3>
	<div id='estudiosTable'>
		<div class="row">
			<div class="col-4">Grado académico</div>
			<div class="col-4">Escuela</div>
			<div class="col-4">Pais</div>
		</div>
	</div>
</div>
