<div class="row">
	<h2 class="text-center">INFORMACIÓN GENERAL</h2>
	<div id='generalTable'>
		<div class="row">
			<div class="col-2">Nombres</div>
			<div class="col-9" id='generalName'></div>
		</div>
		<div class="row">
			<div class="col-2">Apellidos</div>
			<div class="col-9" id='generalLastname'></div>
		</div>
		<div class="row">
			<div class="col-2">Email</div>
			<div class="col-9" id='generalEmail'></div>
		</div>
		<div class="row">
			<div class="col-2">Edad</div>
			<div class="col-9" id='generalEdad'></div>
		</div>
		<div class="row">
			<div class="col-2">Foto</div>
			<div class="col-9" id='generalPhoto'></div>
		</div>
		<div class="row">
			<div class="col-2">linkedin</div>
			<div class="col-9" id='generalLinkedin'></div>
		</div>
	</div>
</div>
