<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>
		<%= title %>
	</title>
	<link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="./assets/dist/css/carousel.css" rel="stylesheet">
