<%- include('header.ejs')%>
	<link rel="stylesheet" href="./assets/dist/css/sidebars.css">
	</head>

	<body>
		<header>
			<%- include('navbar.ejs')%>
		</header>

		<div class="row ">
			<div>
				<!-- <side bar> -->
			</div>
			<main class="col-12 ">
				<%- include('teclers.ejs')%>
			</main>
			<!-- FOOTER -->
			<%- include('footer.ejs')%>
		</div>
		<script src="./assets/modules/index.js "></script>
		<script src="./assets/modules/exit.js "></script>
		<script src="./assets/dist/js/sidebars.js "></script>
		<script src="./assets/dist/js/bootstrap.bundle.min.js "></script>
	</body>

	</html>
