<%- include('header.ejs')%>
	<link href="./assets/dist/css/signin.css" rel="stylesheet">

	</head>

	<body class="text-center">

		<main class="form-signin">
			<h1>Tec Book</h1>
			<h2>La red social de Tecla para teclers</h2><br>
			<form id="form_sign">
				<img class="mb-4" src="./assets/brand/person-bounding-box.svg" alt="" width="90" height="90">
				<h1 class="h3 mb-3 fw-normal">Inicia Sesión para poder continuar</h1>
				<label for="inputEmail" class="visually-hidden">Email</label>
				<input type="email" id="email" class="form-control" placeholder="Email" required autofocus>
				<label for="inputPassword" class="visually-hidden">Password</label>
				<input type="password" id="password" class="form-control" placeholder="Password" required>
				<a id="Sign_in" class="w-100 btn btn-lg btn-primary">Aceptar</a>

				<a id="register" class="w-100 btn btn-lg btn-secondary mt-4">Registrarse</a>

			</form>
		</main>

		<script src="./assets/modules/login.js"></script>
		<script src="./assets/dist/js/bootstrap.bundle.min.js "></script>
	</body>
